body{
    background-image: url(image/livros.jpg);
    background-color: #cccccc;
    background-attachment: fixed;
    background-size: cover;
}
.container{
    margin-top: 20px;
    background-color:#481c04;
    padding-bottom: 12px;
    width: 68%;
    margin-bottom: 20px;
}
#fontwhite{
    color: white;
}
a{
    color: white;
}
mark{
    color: white;
    background-color: #8b665285;
}
.carousel-caption{
    background-color: rgba(128, 128, 128, 0.212);
    padding-left: 17%;
    padding-right: 17%;
}
hr{
    margin-top: 20px;
}
.btn{
    background-color: #71452c;
    color: white;
}
#modal{
    color: black;
}
mark#modal{
    color: white;
}
footer{
    text-align: center;
}
img{
    width: 100%;
    height: auto;
}
